apiVersion: 1
datasources:
- name: Prometheus
  type: prometheus
  access: proxy
  url: http://prometheus:9090
  editable: true
- name: Zipkin
  type: zipkin
  access: proxy
  url: http://zipkin:9411
  editable: true
- name: Loki
  type: loki
  access: proxy
  url: http://loki:3100
  editable: true
