@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.Web

@inject NavigationManager _navigation
@inject SignOutSessionStateManager _signOutManager

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">&nbsp;Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login" class="nav-link btn btn-link">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await _signOutManager.SetSignOutState();

        _navigation.NavigateTo("authentication/logout");
    }
}
