apiVersion: v1
kind: Service
metadata:
  name: {{ include "orders.fullname" . }}
  labels:
    {{- include "orders.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http-orders
      protocol: TCP
      name: http
  selector:
    {{- include "orders.selectorLabels" . | nindent 4 }}
