name: "CI/CD: Kubernetes cluster-wide services"
on:
  push:
    branches: ['main']
    paths:
      - 'iac/kubernetes/**'
      - '.github/workflows/k8s.cluster-wide.cd.yml'
  workflow_dispatch:
concurrency:
  group: terraform
env:
  TERRAFORM_VERSION: 1.3.1
  KUBELOGIN_VERSION: v0.0.20
  RG_NAME: 'rg-cloud-native-sample-develop'
jobs:
  infra:
    name: "Deploy cluster-wide services to k8s"
    runs-on: ubuntu-latest
    env:
      TF_VAR_acr_name: ${{ secrets.ACR_NAME }}
      TF_VAR_acr_token_name: ${{ secrets.ACR_TOKEN_NAME }}
      TF_VAR_rabbitmq_password: ${{ secrets.RABBITMQ_PASSWORD }} 
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2.0.0
        with:
          terraform_version: $TERRAFORM_VERSION
      - name: Setup kubelogin
        run: |
          curl -LO https://github.com/Azure/kubelogin/releases/download/$KUBELOGIN_VERSION/kubelogin-linux-amd64.zip
          sudo unzip -j kubelogin-linux-amd64.zip -d /usr/local/bin
          rm -f kubelogin-linux-amd64.zip
          kubelogin --version
      - name: 'az CLI login'
        uses: azure/login@v1
        with:
          creds: '{"clientId":"${{ secrets.TERRAFORM_CLIENT_ID }}","clientSecret":"${{ secrets.TERRAFORM_CLIENT_SECRET }}","subscriptionId":"${{ secrets.TERRAFORM_SUBSCRIPTION_ID }}","tenantId":"${{ secrets.TERRAFORM_TENANT_ID }}"}'
      - uses: azure/aks-set-context@v3
        with:
          resource-group: 'rg-cloud-native-sample-develop'
          cluster-name: 'aks-cloud-native-sample'
          admin: 'false'
          use-kubelogin: 'true'
      - name: Set KUBE_CONFIG_PATH tp KUBECONFIG
        run: echo "KUBE_CONFIG_PATH=${KUBECONFIG}" >> $GITHUB_ENV
      - name: Check Format
        run: terraform fmt -no-color -check
        working-directory: ./iac/kubernetes
      - name: Initialize Terraform Project
        run: terraform init
        env:
          ARM_CLIENT_ID: ${{ secrets.TERRAFORM_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.TERRAFORM_CLIENT_SECRET }}
          ARM_TENANT_ID: ${{ secrets.TERRAFORM_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.TERRAFORM_SUBSCRIPTION_ID }}
        working-directory: ./iac/kubernetes
      - name: Validate Terraform Project
        run: terraform validate -no-color
        env:
          ARM_CLIENT_ID: ${{ secrets.TERRAFORM_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.TERRAFORM_CLIENT_SECRET }}
          ARM_TENANT_ID: ${{ secrets.TERRAFORM_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.TERRAFORM_SUBSCRIPTION_ID }}
        working-directory: ./iac/kubernetes
      - name: Terraform Apply
        run: |
          export TF_VAR_loki_storage_account_name=$(az storage account list -g $RG_NAME --query "[].name" -otsv)
          export TF_VAR_loki_storage_account_key=$(az storage account keys list -n $TF_VAR_loki_storage_account_name -g $RG_NAME -otsv --query "[0].value")
          terraform apply -no-color -auto-approve
        env:
          ARM_CLIENT_ID: ${{ secrets.TERRAFORM_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.TERRAFORM_CLIENT_SECRET }}
          ARM_TENANT_ID: ${{ secrets.TERRAFORM_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.TERRAFORM_SUBSCRIPTION_ID }}
        working-directory: ./iac/kubernetes
